
<div class="row nestedPage">
    <div class="col-md-5">
        
            <div class="row pageHeader">
                <div class="col-md-12">
                    <span class="pageHeaderIcon"><img src="./Content/img/print_applications.png"/></span> {{title}}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="ApplicationForm" method="post" role="form">

                    <div class="panel panel-default">
                        <div class="panel-heading userPanelHeader">
                            <span>General Settings</span>
                            {{#if editAttribute}}
                            <span class="btnEdit"><a id="EditPrintApplication" class="btn btn-default" href="#EditPrintApplication/{{id}}">Edit</a></span>
                            {{else}}
                            <span class="btnEdit"><a class="btn btn-default" href="#ListApplications">Cancel</a></span>
                            {{/if}}
                        </div>
                        <!---->
                        <div class="panel-body">

                            <div class="form-group">
                                <label for="sourcePrintQueueName" class="col-sm-4 control-label">Source Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="sourcePrintQueueName" errorname="Source Name" name="sourcePrintQueueName" value='{{sourcePrintQueueName}}'>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="modified" class="col-sm-4 control-label">Modified</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="modified" errorname="Modified" name="modified" value='{{modified}}'>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="serverName" class="col-sm-4 control-label">Server Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="serverName" errorname="Server Name" name="serverName" value='{{serverName}}'>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="destinationPrintQueueName" class="col-sm-4 control-label">Destination Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="destinationPrintQueueName" errorname="Destination Name" name="destinationPrintQueueName" value='{{destinationPrintQueueName}}'>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="profile" class="col-sm-4 control-label">Security Profile</label>
                                <div class="col-sm-8">
                                    <!--<input type="text" class="form-control" id="profile" errorName="Security Profile" name="profile" placeholder="Profile Name" value='{{profile}}'>-->
                                    <input type="hidden" name="profileId" id="profileId" />
                                    <select class="form-control" name="profileList" id="profileList"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="enabled" class="col-sm-4 control-label">Enabled</label>
                                <div class="col-md-3">
                                    <select class="form-control" name="enabled" id="enabled">
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="panel panel-default">
                        <div class="panel-heading userPanelHeader"><span>Pantograph Settings</span></div>
                        <!---->
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="pantographDensity" class="col-sm-4 control-label">Pantograph Density</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="pantographDensity" errorname="Pantograph Density" name="pantographDensity" value='{{pantographDensity}}'>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="pantographNoise" class="col-sm-4 control-label">PantographNoise</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="pantographNoise" errorname="Pantograph Noise" name="pantographNoise" value='{{pantographNoise}}'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="panel panel-default">
                        <div class="panel-heading userPanelHeader"><span>Document Backup</span></div>
                        <!---->
                        <div class="panel-body">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <label for="enabled" class="col-sm-4 control-label">Enable PreProcessing Backup</label>
                                    <div class="col-md-3">
                                        <select class="form-control" name="enablePreProcessingBackup" id="enablePreProcessingBackup">
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="PreProcessingBackupPath" class="col-sm-4 control-label">PreProcessing Backup Path</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="PreProcessingBackupPath" errorname="PreProcessing Backup Path" name="PreProcessingBackupPath" placeholder="some path" value='{{PreProcessingBackupPath}}'>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="enabled" class="col-sm-4 control-label">Enable PostProcessing Backup</label>
                                    <div class="col-md-3">
                                        <select class="form-control" name="enablePostProcessingBackup" id="enablePostProcessingBackup">
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="PostProcessingBackupPath" class="col-sm-4 control-label">PostProcessing Backup Path</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="PostProcessingBackupPath" errorname="PostProcessing Backup Path" name="PostProcessingBackupPath" placeholder="some path" value='{{PostProcessingBackupPath}}'>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="errorPanel"></div>
                    <div><button type="button" id="applicationSubmit" class="btn btnKermit btnRight">{{buttonText}}</button></div>
                    </form>
                </div>
        </div>
    </div>

            <div class="col-md-2 verticalLine">
                <span class="glyphicon glyphicon glyphicon-question-sign pageHelpIcon"></span> <span class="helpTextHeader">Print Applications</span><br />
                <span class="helpText">
                    Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna
                    aliquam erat volutpat. Ut wisi enim ad
                    minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip
                    ex ea commodo consequat.
                    Duis autem vel eum iriure dolor in
                    hendrerit in vulputate velit esse molestie
                    consequat, vel illum dolore eu feugiat nulla


                </span>
            </div>
        </div>

        <script type="text/javascript">
            //$("#profileList").change(function () {
            //    alert('it changed');
            //    $("select option:selected")(function () {
            //        $("#profileId").$(this).val();
            //        alert('Setting it to: ' + $(this).val());
            //    });
            //});

            $('#profileList').on('change', function () {
                $("#profileId").val($("#profileList option:selected").val());

            });
        </script>
