

<div class="row errorPage">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading userPanelHeader">
                <span>Oops....   Payment Reqired!</span>
            </div>
            <div class="panel-body">
                <p>
                    Your are not subscribed for this feature.
                </p>
                <p>
                    <span class="glyphicon glyphicon-usd errorPageIcon"></span> 
                </p>
                <p>
                    If you would like to have this feature then you need to upgrade your license. <br />
                    <div class="btnErrorPage">
                        <button type="button" id="UpdgradeLicense" class="btn btnKermit">Upgrade Now!</button>
                    </div>
               </p>
            </div>
        </div>
    </div>
</div>