

<div class="row errorPage">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading userPanelHeader">
                <span>Oops....   License Expired!</span>
            </div>
            <div class="panel-body">
                <p>
                    Your license has Expired!.
                </p>
                <p>
                    <span class="glyphicon glyphicon-time errorPageIcon"></span>   
                </p>
                <p>
                    If you would like to continue using this application please renew your license. <br />
                    <div class="btnErrorPage">
                        <button type="button" id="UpdgradeLicense" class="btn btnKermit">Renew Now!</button>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>