
<div class="row nestedPage">
    <div class="col-md-10">

        <div class="row pageHeader">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-print pageHeaderIcon"></span> Virtual Print ImageRegions
            </div>
            <div class="col-md-12 addContainer">
                <a class="btn btn-default" href="#CreateImageRegions"><span class="glyphicon glyphicon-plus-sign addButton"></span> Add New Image Regions</a>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">


                <table id="imageRegionsListTable" class="display cell-border" cellspacing="0" width="100%">
                    <thead>
                        <tr role="row">
                            <th class="sorting">Name</th>
                            <th class="sorting">Description</th>
                            <th class="sorting">Opacity</th>
                            <th class="sorting">Rotation</th>
                            <th class="sorting">Stretch Image to Fit</th>
                            <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr role="row">
                            <th class="sorting">Name</th>
                            <th class="sorting">Description</th>
                            <th class="sorting">Opacity</th>
                            <th class="sorting">Rotation</th>
                            <th class="sorting">Stretch Image to Fit</th>
                            <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


