<div class="row nestedPage">
    <div class="col-md-5">

        <div class="row pageHeader">
            <div class="col-md-12">
                <span class="pageHeaderIcon"><img src="./Content/img/icon_pantograph.png" /></span> {{title}}
            </div>
        </div>


        <div class="panel panel-default">
		<input type="hidden" id="hiddenProfileId"></input>
            <div class="panel-body">

                <form class="form-horizontal" id="PantographRegionsForm" method="post" role="form">

                    <div class="panel panel-default">
                        <div class="panel-heading userPanelHeader">
                            <span>General Settings</span>
                            {{#if editAttribute}}
                            <span class="btnEdit"><a id="EditPantographRegions" class="btn btn-default" href="#EditPantographRegions/{{id}}">Edit</a></span>
                            {{else}}
                            <span class="btnEdit"><a class="btn btn-default" href="#ListPantographRegions">Cancel</a></span>
                            {{/if}}
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="profile" class="col-sm-4 control-label subLabel">Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" errorname="Name" name="name" id="name" value='{{name}}'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="profile" class="col-sm-4 control-label subLabel">Description</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" errorname="Description" name="description" id="description" value='{{description}}'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />
                    

                    <div class="panel panel-default">
                        <div class="panel-heading userPanelHeader">
                            <span>Setup</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group col-md-12">
                                    <label class="col-md-4 control-label subLabel">Pantograph Pattern Id</label>
                                    <div class="col-md-4">
                                        <input type="text" name="pattern" id="pattern" class="form-control" />
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-12">
                                    <label class="col-md-4 control-label subLabel">Interference Pattern</label>
                                    <div class="col-md-4">
                                        <select class="form-control" errorname="interferencePattern" name="interferencePattern" id="interferencePattern">
                                            <option value="1">Pattern 1</option>
                                            <option value="2">Pattern 2</option>
                                            <option value="3">Pattern 3</option>
                                            <option value="4">Pattern 4</option>
                                            <option value="5">Pattern 5</option>
                                            <option value="6">Pattern 6</option>
                                            <option value="7">Pattern 7</option>
                                            <option value="8">Pattern 8</option>
                                            <option value="9">Pattern 9</option>
                                            <option value="10">Pattern 10</option>
                                            <option value="11">Pattern 11</option>
                                            <option value="12">Pattern 12</option>
                                            <option value="13">Pattern 13</option>
                                            <option value="14">Pattern 14</option>
                                            <option value="15">Pattern 15</option>
                                            <option value="16">Pattern 16</option>
                                            <option value="17">Pattern 17</option>
                                            <option value="18">Pattern 18</option>
                                            <option value="19">Pattern 19</option>
                                            <option value="20">Pattern 20</option>
                                        </select>
                                     </div>
                                    <div class="col-md-2">
                                        <img id="patternDisplay" src="./Content/img/Interference/Pattern1.png" width="100px" />
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="panel panel-default">
                        <div class="panel-heading userPanelHeader">
                            <span>Text String</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal"> 
										<div id="Strings" name="Strings" class="query-builder form-inline btn col-lg-12 container"></div>
									
				
								<div class="col-lg-10 container margin-top-5px">
                            <div class="col-lg-12">
                                <span class="balloon-info">

                                    <button id="addString" type="button" class="btn btn-info">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Add String
                                    </button>
                                </span>
                            </div>

                        </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="panel panel-default">
                        <div class="panel-heading userPanelHeader">
                            <span>Pantogrpah Formatting</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                               
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Font</label>
                                    <div class="col-md-4">
                                        <select class="form-control" errorname="Font Name" name="textSettings.fontName" id="textSettings.fontName">
										{{#each drop.fonts}}
                                            <option value="{{value}}">{{text}}</option>                   
										{{/each}}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Color</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input type="text" value="#000000" errorname="Font Color" name="textSettings.fontColor" id="textSettings.fontColor" class="form-control" />
                                            <span class="input-group-addon" name="colorpick1" id="colorPick1" style="background-color: #000000;"><i></i></span>
                                        </div>

                                        <script>
                                            $(function () {
                                                $('#textSettings\\.fontColor').colorpicker();
                                            });

                                            $('#textSettings\\.fontColor').focusout(function () {
                                                var color1 = $('#textSettings\\.fontColor').val();
                                                $("#colorPick1").css("background-color", color1);
                                            });
                                        </script>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Size</label>
                                    <div class="col-md-4">
                                        <select class="form-control" errorname="Font Size" name="textSettings.fontSize" id="textSettings.fontSize">
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="14">14</option>
                                            <option value="16">16</option>
                                            <option value="18">18</option>
                                            <option value="20">20</option>
                                            <option value="22">22</option>
                                            <option value="24">24</option>
                                            <option value="26">26</option>
                                            <option value="36">36</option>                                         
                                            <option value="40">40</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Transform</label>
                                    <div class="col-md-4">
                                        <select class="form-control" errorname="textSettings.transform" name="textSettings.transform" id="textSettings.transform">
                                            <option value="0">None</option>
                                            <option value="1">To Upper</option>
                                            <option value="2">To Lower</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Line Spacing </label>
                                    <div class="col-md-4">
                                        <select class="form-control" errorname="Line Spacing" name="lineSpacing" id="lineSpacing">
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="300">300</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Microprint Border</label>
                                    <div class="col-md-5">
                                        <select class="form-control" errorname="MicroPrintBorder" name="MicroPrintRegionId" id="MicroPrintRegionId"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="errorPanel"></div>
                    <div><button type="button" id="PantographRegionsSubmit" class="btn btnKermit btnRight">{{buttonText}}</button></div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-2 verticalLine">
        <span class="glyphicon glyphicon glyphicon-question-sign pageHelpIcon"></span> <span class="helpTextHeader">Pantograph Element</span><br />
        <span class="helpText">
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim ad
            minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat.
            Duis autem vel eum iriure dolor in
            hendrerit in vulputate velit ese molestie
            consequat, vel illum dolore eu feugiat nulla


        </span>
    </div>
</div>

<script type="text/javascript">
    $("#interferencePattern").change(function () {
        var imgPath = "./Content/img/Interference/Pattern" + this.value + ".png";
        $("#patternDisplay").attr('src', imgPath);
    });


    //Get list of Microprint Regions
    $.ajax({
        url: $App.WebServiceRoot + "/api/MicroPrintRegions",
        type: "GET",
        headers: {
            'authorization': 'bearer ' + $App.GetSecurity()
        },
        contentType: "application/json",
        cache: false,
        success: function (data) {
            var $select = $('#MicroPrintRegionId');
            $.each(data.microPrintRegions, function (key, val) {
                $select.append('<option value="' + val.id + '">' + val.name + '</option>');
            })
        },
        error: function (data) {
        }
    });
</script>

