<div class="row nestedPage">
    <div class="col-md-5">

        <div class="row pageHeader">
            <div class="col-md-12">
                <span class="pageHeaderIcon"><img src="./Content/img/icon_troymark.png" /></span> {{title}}
            </div>
        </div>


        <div class="panel panel-default">
		<input type="hidden" id="hiddenProfileId"></input>
            <div class="panel-body">

                <form class="form-horizontal" id="TroyMarkRegionsForm" method="post" role="form">

                    <div class="panel panel-default">
                        <div class="panel-heading userPanelHeader">
                            <span>General Settings</span>
                            {{#if editAttribute}}
                            <span class="btnEdit"><a id="EditImageRegions" class="btn btn-default" href="#EditTroyMarkRegions/{{id}}">Edit</a></span>
                            {{else}}
                            <span class="btnEdit"><a class="btn btn-default" href="#ListTroyMarkRegions">Cancel</a></span>
                            {{/if}}
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="profile" class="col-sm-4 control-label">Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" errorname="Name" name="name" id="name" value='{{name}}'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="profile" class="col-sm-4 control-label">Description</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" errorname="Description" name="description" id="description" value='{{description}}'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />

                         <div class="panel panel-default">
                        <div class="panel-heading userPanelHeader">
                            <span>Text String</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal"> 
										<div id="Strings" name="Strings" class="query-builder form-inline btn col-lg-12 container"></div>
									
				
								<div class="col-lg-10 container margin-top-5px">
                            <div class="col-lg-12">
                                <span class="balloon-info">

                                    <button id="addString" type="button" class="btn btn-info">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Add String
                                    </button>
                                </span>
                            </div>

                        </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="panel panel-default">
                        <div class="panel-heading userPanelHeader">
                            <span>Positioning and Layout</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-md-12">
                                    <label>Layout</label>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Print On</label>
                                    <div class="col-md-4">
                                        <select class="form-control" errorname="Duplex Mode" name="duplexMode" id="duplexMode">
                                            <option value="0">Front Only</option>
                                            <option value="1">Front & Back</option>
                                            <option value="2">Back Only</option>
                                        </select>
                                    </div>
                                </div>                            
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Placement</label>
                                    <div class="col-md-4">
                                        <select class="form-control" errorname="Placement" name="placement" id="placement">
                                            <option value="0">Foreground</option>
                                            <option value="1">Background</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Pattern</label>
                                    <div class="col-md-4">
                                        <select class="form-control" errorname="Pattern" name="pattern" id="pattern">
                                            <option value="32">Light</option>
                                            <option value="64">Medium</option>
                                            <option value="128">Dark</option>
                                            <option value="255">Super Dark</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12 positioningContainer">
                                    <label>Positioning</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group col-md-12 form-inline coordContainer">
                                        <label class="col-md-3 col-md-offset-1 control-label coordSubLabel">Upper Left</label>
                                        <div class="col-md-8">
                                            <input type="text" class="coordBox form-control" errorname="Top Left X" name="topLeft.X" id="topLeft.X" value='{{topLeft.x}}'>
                                            <label class=" coordLabel"> X </label>
                                            <input type="text" class="coordBox form-control" errorname="Top Left Y" name="topLeft.Y" id="topLeft.Y" value='{{topLeft.y}}'>
                                            <label class=" coordLabel"> Y </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3 col-md-offset-1 control-label coordSubLabel">Lower Right</label>
                                        <div class="col-md-8  form-inline">
                                            <input type="text" class="coordBox form-control" errorname="Bottom Right X" name="bottomRight.X" id="bottomRight.X" value='{{bottomRight.x}}'>
                                            <label class=" coordLabel"> X </label>
                                            <input type="text" class="coordBox form-control" errorname="Bottom Right Y" name="bottomRight.Y" id="bottomRight.Y" value='{{bottomRight.y}}'>
                                            <label class=" coordLabel"> Y </label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 coordFooterLabelContainer">
                                        <label class="coordFooterLabel" id="units">(coordinates in {{units}})</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <img src="./Content/img/icon_region_big.png" />
                                </div>
                                <div class="col-md-12 positioningContainer">
                                    <label>Text Format</label>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Font</label>
                                    <div class="col-md-4">
                                        <select class="form-control" errorname="Font Name" name="textSettings.fontName" id="textSettings.fontName">
										{{#each drop.fonts}}
                                            <option value="{{value}}">{{text}}</option>                   
										{{/each}}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Color</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input type="text" value="#000000" errorname="Font Color" name="textSettings.fontColor" id="textSettings.fontColor" class="form-control" />
                                            <span class="input-group-addon" name="colorpick1" id="colorPick1" style="background-color: #000000;"><i></i></span>
                                        </div>

                                        <script>
                                            $(function () {
                                                $('#textSettings\\.fontColor').colorpicker();
                                            });

                                            $('#textSettings\\.fontColor').focusout(function () {
                                                var color1 = $('#textSettings\\.fontColor').val();
                                                $("#colorPick1").css("background-color", color1);
                                            });
                                        </script>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Size</label>
                                    <div class="col-md-4">
                                        <select class="form-control" errorname="Font Size" name="textSettings.fontSize" id="textSettings.fontSize">
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="14">14</option>
                                            <option value="16">16</option>
                                            <option value="18">18</option>
                                            <option value="20">20</option>
                                            <option value="22">22</option>
                                            <option value="24">24</option>
                                            <option value="26">26</option>
                                            <option value="36">36</option>                                         
                                            <option value="40">40</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Transform</label>
                                    <div class="col-md-4">
                                        <select class="form-control" errorname="textSettings.transform" name="textSettings.transform" id="textSettings.transform">
                                            <option value="0">None</option>
                                            <option value="1">To Upper</option>
                                            <option value="2">To Lower</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-1 control-label subLabel">Line Spacing </label>
                                    <div class="col-md-4">
                                        <select class="form-control" errorname="Line Spacing" name="lineSpacing" id="lineSpacing">
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="300">300</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="errorPanel"></div>
                    <div><button type="button" id="TroyMarkRegionsSubmit" class="btn btnKermit btnRight">{{buttonText}}</button></div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-2 verticalLine">
        <span class="glyphicon glyphicon glyphicon-question-sign pageHelpIcon"></span> <span class="helpTextHeader">Create TROYMArk Regions</span><br />
        <span class="helpText">
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim ad
            minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat.
            Duis autem vel eum iriure dolor in
            hendrerit in vulputate velit ese molestie
            consequat, vel illum dolore eu feugiat nulla


        </span>
    </div>
</div>

<script type="text/javascript">



</script>

