
<div class="row nestedPage">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading userPanelHeader"><span>{{title}}</span><span class="btnEdit"><a class="btn btn-default" href="#ListUsers">Cancel</a></span></div>
            <!---->
            <div class="panel-body">
                <form class="form-horizontal" id="UserChangePasswordForm" method="post" role="form">
                    <br />
                    {{#unless admin}}
                    <div class="form-group">
                        <label for="oldPassword" class="col-sm-4 control-label">Current Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Enter Password">
                        </div>
                    </div>
                    {{/unless}}

                    <div class="form-group">
                        <label for="newPassword" class="col-sm-4 control-label">New Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword" class="col-sm-4 control-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div><button id="UserChangePasswordSubmit" type="button" class="btn btnKermit btnRight">{{buttonText}}</button></div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-2 verticalLine">
        <span class="glyphicon glyphicon glyphicon-question-sign pageHelpIcon"></span> <span class="helpTextHeader">Change Password</span><br />
        <span class="helpText">
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim ad
            minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat.
            Duis autem vel eum iriure dolor in
            hendrerit in vulputate velit esse molestie
            consequat, vel illum dolore eu feugiat nulla


        </span>
    </div>

</div>
